<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/js/studentCoursesTable.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/coursesTableStyle.css"/>
</head>
<body>
<h2> Student Panel </h2>
<br/>
<input type="hidden" id="userId" th:value="${userId}">
<div class="container tableContainer" style="margin-top: 107px" id="userCoursesTable">
    <h1>Courses</h1>
    <br>
    <table class="table table-striped" style="height: 210px;width:945px">

        <thead>
        <tr>
            <th>Name</th>
            <th>Classification</th>
            <th>Action</th>
        </tr>
        </thead>

        <tfoot>

        </tfoot>

    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li id="prevPage" class="page-item"><a class="page-item-btn">Previous</a></li>
            <li id="nextPage" class="page-item"><a class="page-item-btn">Next</a></li>
        </ul>
    </nav>
</div>

<a th:href="@{/}" style="margin-top: 40px;margin-left: 139px" class="btn btn-primary block full-width m-b">Back to
    home</a>
<a th:href="@{/signOut}" style="margin-top:40px;position: absolute;margin-left: 720px" class="btn btn-primary block full-width m-b">Sign out</a>

</body>
</html>