<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css"/>
</head>
<body>
<section class="section">
    <div class="grid">
        <div class="left-side-div">
            <h1 class="left-side-heading">
                <span style="color: #1b9097;">Hi, Welcome </span><br>
                You can manage your online quizes.
            </h1>
        </div>
        <div>
            <h2 class="right-side-heading">If you are user,</h2>
            <button class="submitBtn"><a href="/userPanel/login">Sign in/up now</a></button>
            <h2 class="right-side-heading" style="margin-top: 150px;margin-left: 45px">If you are admin,</h2>
            <button class="submitBtn"><a href="/adminPanel/login">Sign in now</a></button>
        </div>
    </div>
</section>
</body>
</html>